version: "3"

services:
  mongo_api_server:
    build: api
    ports:
      - "3000:3000"
    depends_on:
      - mongo_scripts_prod
  mongo_scripts_prod:
    build: db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=secret
    volumes:
      - ./data:/data